{% extends 'layout.html' %}

        {% block body %}
        <div class="jumbotron text-center">
                <h3>AzBlog bloguna xoş gəlmişsiniz</h3>
                <p>Burada istədiyiniz mövzü haqqında məqalə paylaşa, həmçinin bilmədikərinizi öyrənə bilərsiz</p>
        </div>
        <p>
                {% if request.user.is_authenticated %}
                      <strong>{{request.user.username}}</strong> ilə giriş etdiniz

                  
                {% else %}
                <p>Hesabınıza giriş etməmisiz</p>
                {% endif %}
                

        </p>
        {% endblock  %}
